@charset "UTF-8";

/* 共通部分 */

html {
  font-size: 62.5%;
}

body {
  color:black;
  font-size: 1.2rem;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

.section-title {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 30px;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px 40px;
  z-index: 10;
  background-color: white;
}


#header-nav {
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  z-index: 20;
  opacity: 0;
  color:  white;
  transition: all 0.5s;
  display: block;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 300px;
  font-size: 1.44rem;
}

#header-nav a {
  color: white;
}

.open #header-nav {
  left: 0;
  opacity: 1;
}

#header-nav ul {
  margin: 0;
  padding: 0;
}

#header-nav ul.header-list {
  margin-bottom: 60px;
  border-top: solid 1px white;
}

#header-nav ul.header-list li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px white;
}

#header-nav ul.header-sns li {
  padding: 5px 0;
}


.header-btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
  height: 30px;
}
.header-btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}

.header-btn span:nth-child(1) {
  top: 4px;
}
.header-btn span:nth-child(2) {
  top: 14px;
}
.header-btn span:nth-child(3) {
  bottom: 4px;
}
.open .header-btn span {
  background-color: #fff;
}
.open .header-btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .header-btn span:nth-child(2) {
  opacity: 0;
}
.open .header-btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  background: #000;
}

/* main */

#main {
  padding-top: 80px;
}

/* video */

#mv-video {
  width: 100%;
}

/* pickup */

#pickup {
  padding: 100px 0 50px 0;
  width: 100%;
}

.pickup-container li img{
  width: 360px;
  height: 170px;
}

.pickup-container {
  font-size: 0;
}

.pickup-container li {
  padding: 0 30px;
}




/* feature */
#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}


.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 26px;
}

.feature-container {
  transition: all  0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
}

.feature-container img {
  width: 385px;
  height: 257px;
  vertical-align: top;
  object-fit: cover;
}

.feature-box {
  padding: 30px;
  height: 187px;
}

.feature-part {
  margin-bottom: 20px;
}

.feature-text {
  font-size: 1.44rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature-date {
  text-align: right;
}

/* contact */
#contact {
  max-width: 1240px;
  padding: 50px 16px;
  font-size: 1.44rem;
  background-color: black;
  color: white;
  margin: 0 auto;
  
}

.contact-container {
  display: flex;
  justify-content: space-between;
  
}

.contact-left {
  width: 45%;
}

.contact-left p {
  margin-bottom: 30px;
}

.contact-right {
  width: 45%;
}



.contact-right dd input,
.contact-right dd textarea{
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
}

.contact-button {
  width: 200px;
  background-color: black;
  color: #fff;
  padding: 12px 0;
  border: solid 1px white;
  text-align: center;
}

.contact-button:hover {
  background: #fff;
  color: #24292e;
}

/* footer */

#footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px;

}

/* レスポンシブ */

@media screen and (max-width: 600px) {

.section-title {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

#header {
  padding: 20px 16px;
}

.header-btn {
  right: 20px;
}

#mv-video {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

#pickup {
  padding: 80px 0;
}
.pickup-container li {
  padding: 0 20px;
}

#feature {
  padding: 80px 16px;
}
.feature-grid .feature-container{
  padding: 16px;
}

#contact {
  padding: 80px 16px;
}
.contact-container {
  flex-direction: column;
}
.contact-left {
  width: 100%;
}

.contact-right {
  width: 100%;
}

.contact-button {
  width: 100%;
}

.contact-left p {
  text-align: justify;
}

}